body {
    display: grid;
    border: 1px solid black;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 16px;
}

.container {
    display: grid;
    width: 500px;
    height: 550px;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(6, [row] auto ) ;
    border: 2px solid black;
    /* justify-content: center; */
    padding: 0px;
    margin: 16px;
}

button {
    text-align: center;
    font-size: x-large;
    background-color: lightgrey;
    color: white;
}

input {
    grid-column: col / span 4;
    grid-row: row / span 1;
    font-size: 45px;
    padding: 0 10px;
    border: none;
    text-align: end;
    background-color: grey;
    color: white;
}

#display {
    display: grid;
    grid-column: col / span 4;
    font-size: xx-large;
    margin: 0px;
    padding: 0 10px ;
    border: 1px solid black;
    align-items: center;
    text-align:end;
    background-color: grey;
    color: white;
}


#btn-0 {
    grid-column: col / span 2;
}

#btn-division, #btn-multiply, #btn-minus, #btn-plus, #btn-eq {
    background-color: orange;
}

#btn-ac, #btn-plusminus, #btn-percent {
    background-color: darkgray;
}